bits 64
default rel
segment .text

extern ExitProcess
extern putchar
extern getchar
extern calloc

global main
main:
    push    rbp
    mov     rbp, rsp
    sub     rsp, 32
    mov     rcx, 4096
    mov     rdx, 1
    call    calloc
    mov     rdi, rax

{MAIN_CODE}

    xor     rcx, rcx
    call    ExitProcess